body {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.register-page {
    min-height: 100vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
    display: flex;
    background-color: #3772a3 !important;
}

.register-page .register-form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.register-page h1 {
    display: flex;
    justify-content: center;
    color: #ffffff !important;
}

.register-page .register-form {
    display: flex;
    flex-direction: column;
}

.register-page .register-form input {
    margin: 10px 0;
    padding: 10px;
    border: none;
    border-radius: 5px;
    width: 320px;
    height: 35px;
    color: #000000;
    background-color: #ffffff;
    opacity: 0.5;
}

.register-page .register-form select {
    margin: 10px 0;
    padding: 10px;
    border: none;
    border-radius: 5px;
    width: 320px;
    height: 35px;
    color: #000000;
    background-color: #ffffff;
    opacity: 0.5;
}

.register-page .register-form button {
    min-width: 320px;
    height: 35px !important;
    font-size: 15px;
    border: none;
    font-weight: bold;
    color: #000000;
    background-color: #ffffff;
    transition: ease 0.5s;
}

.register-page .register-form button:hover {
    background-color: #ffffff;
    color: #3772a3;
    font-weight: bold;
    transform: scale(1.1);
}

.login-link-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: #ffffff;
}

.login-link-container button {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 130px;
    height: 30px;
    font-size: 15px;
    border: none;
    font-weight: bold;
    color: #000000;
    background-color: #ffffff;
    transition: ease 0.5s;
}

.login-link-container button:hover {
    color: #3772a3;
    font-weight: bold;
    transform: scale(1.1);
}